body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




.listaTarifas {
  float: left;
  width: 45%;
}


.listaRider {
  float: left;
  width: 45%;
}
.h1{
  font-size: 45px;
  font-weight: bold;
  color:#753086;
}
.h2{
  font-size: 20px;
  font-weight: bold;
  color:#0d6e79;
}
.h3{
  font-size: 21px;
  font-weight: bold;
  color:#753086;
}
.h5{
  font-size: 21px;
  font-weight: bold;
  color:#0d6e79;
}
.h6{
  font-size: 21px;
  font-weight: bold;
  color:#753086;
}



.titulo{
  color:#0d6e79;
  font-size: 20px;
  font-weight: bold
}
.contenido{
  font-size: 20px; 
  font-weight:bold
}

.ficha {
  cursor: pointer;
  background-color:whitesmoke;
  color: green; 
  margin: 3px 3px 3px 3px;
  text-decoration: none;
  padding: 1%;
  border-radius: 60px; 
  margin-left: 12px;
  /* display: inline-block; */
  width: 32%; /* ancho */
  height: 300px;  /* alto */
  float: left;
}
.fichaArtGrup {
  cursor: pointer;
  background-color:whitesmoke;
  color:green;
  margin: 3px 3px 3px 3px;
  text-decoration: none;
  padding: 1%;
  border-radius: 60px;
  margin-left: 12px;
  /* display: inline-block; */
  width: 25%; /* ancho */
  height: 160px;  /* alto */
  float: left;
}

.listado {
  cursor: pointer;
  background-color: rgb(231, 236, 230);
  color: green;
  margin: 10px 15px 10px 15px;
  text-decoration: none;
  /* padding: 2%; */
  border-radius: 60px;
  margin-left: 15px;
  /* display: inline-block; */
}


.select{
  /* position: absolute; */
  /* transform: translate(-50%,-50%); */
  left:50%;
  padding: 10px;
}

.tarifa{
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
}

.login{
  position: absolute;
  top: 25%;
  left:40%;
  /* transform: translate(-50%,-50%) */
}

.logins {
	padding:50px;
	border-radius:10px;
  background-color:  rgb(231, 236, 230);
}

.forms {
	width: 23%;
	padding:16px;
	border-radius:10px;
  background-color:  rgb(231, 236, 230);
  float: left;
  margin:13px;
}

.forms label{
	width:72px;
	font-weight:bold;
  /* display:inline-block; */
}

img.izquierda {
  float: left;
}

img.derecha {
  float: right;
}

.margin {
  background-color: rgb(215, 241, 215);  
  margin: 15px 15px 15px 15px;
  text-align: center;
  width: 200px;
  padding-right: 24px;
}

.link {
  /* para quitar el subrrayado del link */
  text-decoration: none
}

.bordes {
  border-radius: 70%;
  margin: auto;
  border: 3px solid #0d6e79;
}
.fotolista{
  border-radius: 80%;
  width: 85px;
  height: 85px; 
  margin: auto;
  border: 3px solid #0d6e79;
  padding: 5px;
}

.fotolistaEspectaculo{
  
 border-radius: 60px;
  width: 100px;
  height: 100px; 
  margin: auto;
  border: 3px solid #0d6e79;
  padding: 5px;
}

.fotos {
  border-radius: 50%;
  width: 170px;
  height: 170px; 
  /* width: 110px; 
  height: 110px; */
  margin: auto;
  /* border: 3px solid #555; */
  padding-left: 10px;
}

.decoracion{
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
  box-shadow: 3px 1px;
  border-radius: 47%;
  color:#753086
}
.decoracion:hover {
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0px 0px;
}


 i.material-icons {
  font-size: 25px;
  padding: 2px;
  cursor: pointer;
  box-shadow: 3px 3px;
  border-radius: 50%;
  padding-left: 15px;
}
 /* con la i de lante le estamos diciendo que modifique todas las class o style que empcien por i valdria para div o input etc */
i.material-icons:hover {
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0px 0px;
}
.sombreado{
  cursor: pointer;
 
}
 */
.sombreado:hover{
  font-size: 100%;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 0px;
   
}

/* con el . le estamos indicando que es una clase de css */
.divFicha {
/* le damos el width = ancho por cada tag = ficha */
  width: 30%;
  /* le estamos diciendo que los div floten a la izquierda para ponerlos en la misma linea*/
  /* float: left; */
  /* padding = le estamos diciendo que se aleje del marco de su parte de la pantalla (arriba, abajo y laterales) y va en pixeles */
  padding: 1px;
  /* es el espacio que dejamos entre los tag( sus compañeros div) */
  margin: 10px;
  /*  es para hacerlo redondo va por porcentaje de las escinas */
  border-radius: 20%;
  /*  */
  cursor: pointer;
  /*  */
  text-shadow: 50%;
  /* el grosos de los bordes que le indicamos pueden ser los 4 */
  box-shadow: 3px 3px;
  /* el alto que queremos fijo para que todas las fichas tenga el mismo alto asi los de abajo se nivelan  */
  height: 400px;

}

/* los input llevan focus para que vuelva el curso al */

/*.modal{
  z.index: 1; para que se vea por encima
  displey: none; para que no se vea al principio.
  border-raudius: 2%; para los bprder redondeado.
}*/

/* modal2 ocupatoda la pantalla y se pone gris transparente */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*se tiene que poner por encima de todo en vertical*/
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
  /* Black w/ opacity */
}

/* Modal Content/Box modal pequeña que se ve en blanco */
.modal2-content {
  background-color: #fefefe; 
  margin: 5% auto;  
  padding: 5px;
  border: 10px solid #888;
  border-radius: 50px;
  width: 30%; /* que ocupe el 80% del ancho*/ 
}

/* los input llevan focus para que vuelva el curso al */

.modalBolo {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*se tiene que poner por encima de todo en vertical*/
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
  /* Black w/ opacity */
}

.modalBolo-content {
  background-color: #fefefe; 
  margin: 5% auto;  
  padding: 5px;
  width: 90%; /* que ocupe el 80% del ancho*/ 
  height: 100%; /* Full height */

}
.menu-item {
  padding: 20px;
  width: 25%;
  float: left;
}


.barra {
  background-color:whitesmoke;
  color:#0d6e79;
  /* border: 2px solid;      */
  margin: auto;
  width: 100%;
	padding:8px;
	/* border-radius:50px; */
}


.centrar  { 
  text-align: center;
  background-color: greenyellow;
  margin-left: 15px
}

/* grabado ipshare */


.fichaProducto {
width: 15%;
/* float: left; */
}
.contenedor
{
left: 200px;
width:500px;
height:300px;
line-height:300px;
/* border:1px solid; */


}
.listado-array {
position: fixed;
bottom: 1px;
}
.div-central {
position: fixed;
padding: 20px;
width: 80%;
height: 50%;
/* border: 1px solid; */
left: 150px;
/* float: left; */
}



.mitad-izquierda {
position: fixed;
padding: 20px;
width: 35%;
height: 30%;
/* border: 1px solid; */
left: 200px;
/* overflow-y:scroll ; */
/* float: left; */
}

.mitad-derecha {
position: fixed;
padding: 20px;
width: 35%;
height: 30%;
/* border: 1px solid; */
right: 200px;

/* float: right; */
}

.centrar{
text-align: center;
}

.fondoNegro{
  background-color: black;
}
